# Compiled class files
*.class

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle files
.gradle/
build/

# Spring Boot files
target/
logs/
*.log
*.jar

bin/


# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS code
.vscode